{% extends 'gevir/base.html' %}
{% load staticfiles %}

{% block title_block %}
GeVIR - How to cite
{% endblock %}

{% block body_block %}

<b>Please cite</b>:
<br/>
<a class="file_link" href="https://doi.org/10.1038/s41588-019-0560-2">Abramovs, N., Brass, A. & Tassabehji, M. GeVIR is a continuous gene-level metric that uses variant distribution patterns to prioritize disease candidate genes. <i>Nat Genet</i> <b>52</b>, 35-59 (2020)</a>
<br/>
<a class="file_link" href="https://doi.org/10.1038/s41588-019-0560-2">DOI:10.1038/s41588-019-0560-2</a>
<br/>
<a class="file_link" href="https://www.ncbi.nlm.nih.gov/pubmed/31873297">PMID:31873297</a>

{% endblock %}