{% extends 'gevir/base.html' %}
{% load staticfiles %}

{% block title_block %}
GeVIR - How to cite
{% endblock %}

{% block body_block %}

<h3>Terms and Conditions</h3>
<p>Please read these terms and conditions carefully before using this site.</p>

<h5>What’s in these terms?</h5>
<p>These terms and conditions (the “terms”) tell you the rules for using our website <a class="file_link" href="http://gevirank.org/">http://gevirank.org/</a> (“our site”).</p>

<h5>Who we are and how to contact us</h5>
<p>Our site is operated byhosted at The University of Manchester (the “University”, “We” or “Us”). The University is a higher education institution (Royal Charter No: RC000797) and an exempt charity.</p>
<p>To contact us, please contact the site administrator by email at gevirank@gmail.com</p>

<h5>By using our site you accept these terms</h5>
<p>By using our site, you confirm that you accept these terms and that you agree to comply with them.</p>
<p>If you do not agree to these terms, you must not use our site.</p>

<h5>Our Cookie Policy</h5>
<p>Our site uses cookies to distinguish you from other users of our site. This helps us to provide you with a good experience when you browse our site and also allows us to improve our site.</p>
<p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive. Cookies do not collect personal data from your computer, only the data created by your browsing.</p>
<p>We use the following cookies on our site:</p>
<ol>
  <li><b>Strictly necessary cookies - </b>These are cookies that are required for the operation of our site.</li>
  <li><b>Functionality cookies - </b>These are used to recognise you when you return to our site. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</li>
  <li><b>Session cookies - </b>these are used to remember details of your current browser session and to display search results for the user. Session cookies are set for the duration of your current browser session and are erased when you close your browser at the end of your session.</li>
</ol>
<p>Please note that third parties (including, for example, advertisers and providers of external services) may also use cookies, over which we have no control.</p>
<p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.</p>
<p>Except for essential cookies, all cookies will expire after expiry of your session on our site.</p>

<h5>We may make changes to these terms</h5>
<p>We may amend these terms from time to time. Every time you wish to use our site, please check these terms to ensure you understand the terms that apply at that time.</p>

<h5>We may make changes to our site</h5>
<p>We may update and change our site from time to time to reflect changes to the material to which we provide access, our site’s users’ needs and our priorities.</p>

<h5>We may suspend or withdraw our site</h5>
<p>Our site is made available free of charge.</p>
<p>We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our site for business and operational reasons.</p>
<p>You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms and other applicable terms and conditions, and that they comply with them.</p>

<h5>How you may use material on our site</h5>
<p>The data released by GeVIR are available free of restrictions. We request that our status (and that of any identified contributors) as the authors of content on our site is acknowledged.</p>
<p>You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors. GeVIR is protected by local and international copyright laws.</p>

<h5>Do not rely on information on this site</h5>
<p>All information returned by GeVIR is subject to change and there is no warranty, express or implied, as to its accuracy, completeness, or fitness for a particular purpose. The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.</p>

<h5>We are not responsible for websites we link to</h5>
<p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them.</p>
<p>We have no control over the contents of those sites or resources.</p>

<h5>Our responsibility for loss or damage suffered by you</h5>
<p>Use of GeVIR and information is subject to User responsibility and discretion. We do not accept any liability for any injury, loss or damage incurred by use of or reliance on the information provided by GeVIR. We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.</p>
<p>Any reliance you place on our site and/or any of its content is therefore entirely at your own risk.</p>

<h5>We are not responsible for viruses and you must not introduce them</h5>
<p>We do not guarantee that our site will be secure or free from bugs or viruses.</p>
<p>You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your own virus protection software.</p>
<p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>

<h5>Rules about linking to our site</h5>
<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>
<p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
<p>You must not establish a link to our site in any website that is not owned by you.</p>
<p>Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page.</p>
<p>We reserve the right to withdraw linking permission without notice.</p>
<p>The website in which you are linking must comply in all respects with the content standards set out in our Acceptable Use Policy.</p>
<p>If you wish to link to or make any use of content on our site other than that as set out above, please contact the site administrator on gevirank@gmail.com.</p>

<h5>Which country’s laws apply to any disputes?</h5>
<p>These terms, their subject matter and their formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.</p>

<h5>General</h5>
<p>If you have any questions, comments or concerns arising from our site, please contact the site administrator on gevirank@gmail.com.</p>

{% endblock %}